.container{
    display: flex;
}
nav{
    width: 40px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
}
section{
    width: 60%;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.i2{display: none;}
@media (max-width:500px)
{
    .container{
        flex-direction: column;
    }
    nav,section{width: 100px;}
    nav{order:-1;}
    .i1{display: none;}
    .i2{display: block; max-width: 100px;}
}